@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root {
  /* Переменные */
  --background-color: #1f0f24;
  --text-color: rgb(40, 200, 150);
  --input-color: #fcfcfc;
  --accent-color: #e3bc4b;
  --border-color: #b99935;
  --error-color: #d03939;
  --loading-color: #6e2d7d;

  --font-family-primary: 'Oswald', sans-serif;
  --font-size-base: 16px;
  --font-size-input: 14px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-family-primary);
  font-size: var(--font-size-base);
  font-optical-sizing: auto;
  font-style: normal;
  color: var(--text-color); /* Для глобального цвета текста */
  background: linear-gradient(339deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
}
